{{#each dataList}}
<form class="form-horizontal" action="/update" method="get">
    <!-- name field -->
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" value="{{this.name}}">
        </div>
    </div>


    <!-- rep field -->
    <div class="form-group">
        <label for="reps" class="col-sm-2 control-label">Reps</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="reps" value="{{this.reps}}">
        </div>
    </div>


    <!-- weight field -->
    <div class="form-group">
        <label for="weight" class="col-sm-2 control-label">Weight</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="weight" value="{{this.weight}}">
        </div>
    </div>


    <!-- weight type field -->
    <div class="radio">
        <label for="lbs" class="radio-inline col-sm-3 control-label">
            <input type="radio" name="lbs" id="inlineRadio1" value="1"> lbs
        </label>

        <label for="lbs" class="radio-inline col-sm-1 control-label">
            <input type="radio" name="lbs" id="inlineRadio1" value="0"> kg
        </label>
    </div>
    <br>


    <!-- date field -->
    <div class="form-group">
        <label for="date" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-5">
            <input type="date" class="form-control" name="date" value="{{this.date}}">
        </div>
    </div>


    <!-- submit button -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" value="{{this.id}}">Update workout</button>
        </div>
    </div>

</form>
{{/each}}