<form class="form-horizontal" action="/add" method="get">
    <!-- name field -->
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="name" placeholder="Enter your name here">
        </div>
    </div>


    <!-- rep field -->
    <div class="form-group">
        <label for="reps" class="col-sm-2 control-label">Reps</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="reps" placeholder="Enter the number of repetitions performed">
        </div>
    </div>


    <!-- weight field -->
    <div class="form-group">
        <label for="weight" class="col-sm-2 control-label">Weight</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="weight" placeholder="Enter the weight used">
        </div>
    </div>


    <!-- weight type field -->
    <div class="radio">
        <label for="lbs" class="radio-inline col-sm-3 control-label">
            <input type="radio" name="lbs" id="inlineRadio1" value="1"> lbs
        </label>

        <label for="lbs" class="radio-inline col-sm-1 control-label">
            <input type="radio" name="lbs" id="inlineRadio1" value="0"> kg
        </label>
    </div>
    <br>


    <!-- date field -->
    <div class="form-group">
        <label for="date" class="col-sm-2 control-label">Date</label>
        <div class="col-sm-5">
            <input type="date" class="form-control" name="date" placeholder="Enter date">
        </div>
    </div>


    <!-- submit button -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Add to log</button>
        </div>
    </div>

</form>








<h2>Workouts</h2>
<table>
    <tr>
        <td>Workouts</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>Reps</td>
        <td>Weight</td>
        <td>Date</td>
        <td>LBs</td>
    </tr>
    {{#each dataList}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.reps}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.date}}</td>
            <td>{{this.lbs}}</td>
            <td>
                <form action="/delete" method="get">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button>Delete Exercise</button>
                </form>
                <form action="/update" method="get">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <button>Update Exercise</button>
                </form>
            </td>
        </tr>
    {{/each}}
</table>